.section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
}

.large-column {
  width: 100%;
  max-width: var(--column-width);
}

ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

.primary {
  background-color: var(--bg);
}

.secondary {
  background-color: #f7f7f7;
}

.break {
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
  margin: 20px 0px;
}

@media (max-width: 800px) {
  .section.secondary {
    padding: 2rem 1rem;
  }
}
