main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
}

.large-column {
  width: 100%;
  max-width: var(--column-width);
}

ul {
  margin-left: 20px;
  margin-bottom: 10px;
}
